body {
	background: url("img.jpg") no-repeat fixed;
}

h1 {
	text-align: center;
	color: rgb(107, 188, 209);
}

.text {
	color: rgb(252, 148, 21);
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.logout {
	margin-left: 35%;
	background-color: rgb(226, 50, 1);
}

.send {
	margin-left: 54%;
	background-color: rgb(254, 185, 56);
}

.theMessage {
	text-align: center;
	color: orange;
}